@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color00: #D35E59;
    --color01: #ECB8B6;
    --color02: #C7AA91;
    --color03: #a12521;

    --poppins: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--poppins);
}

header{
    background-color: var(--color00);
    color: white;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-evenly;  
}

.logo{
    width: 200px;
    transform: translateY(-10px);
}

h1{
    margin-top: 15px;
    font-weight: normal;
}

/* [ == botao de adicionar == ]*/ 
.button-container{
    max-width: 850px;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}

.add-btn{
    background-color: var(--color00);
    border: none;
    color: white;
    padding: 18px 45px;
    border-radius: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn:hover{
    background-color: var(--color01);
    color: var(--color00);
}

/* [ == tabela == ] */
main{
    max-width: 850px;
    margin: 0 auto;
}

.table-header{
    background-color: var(--color01);   
}

.table-header-data{
    width: 170px;
}

.table-item-data{
    border: 1px solid var(--color02);
}

.action-btn{
    display: flex;
    justify-content: space-around;
    color: var(--color00);
}

/* [== MODAL ==] */
#fade{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#modal{
    background-color: white;
    width: 850px;
    /* height: 700x; */
    border-radius: 10px;  

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 4;   
}

#modal,
#fade{
    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide{
    top: 0;
}

#modal.hiden,
#fade.hiden{
    opacity: 0;
    pointer-events: none;
}

/*  [== formulario ==]  */
.modal-container{
    padding: 20px;        
}

.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px
}

.fechar-btn{
    border: none;
    background-color: gray;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    transition: 0.3s;

    cursor: pointer; 
}

.fechar-btn:hover{
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

.modal-container h2, h4{
    text-align: center;
    margin: 10px;
}

.aba-endereco,
.aba-dados-pessoa,
.aba-pesquisa,
.aba-pedidos{
    /* border: 1px solid var(--color01); */
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 1.2em;
    line-height: 1.5em;    
}

.number-flex,
.flex-dados,
.fone-flex,
.flex-pesquisa{
    display: flex;
    align-items: center;
}

input{
    height: 25px;
    border: 0.5px solid var(--color02);
    border-radius: 5px;
    width: 180px;
    margin: 0 5px;
}

#endereco{
    width: 91%;
}

#nome-ed{
    width: 84.7%;
}

#bairro{
    width: 88.5%;
}

hr{
    border: 1px solid var(--color01);
}

#data,
#hora,
#ate{
    width: 196px;
}

#nome{
    width: 88.3%;
}

#fone,
#cel,
#cpf{
    width: 200px;
}

#email{
    width: 87.7%;
}

select{
    border: 0.5px solid var(--color00);
    border-radius: 5px;
    font-size: 1em;
    margin-right: 40px;
}

#outro{
    width: 473px;
}

textarea{
    width: 98%;
    font-size: 1em;
    line-height: 1.3em;
    height: 90px;
    border: 0.5px solid var(--color01);
}

/* [ == button == ] */
.pdf-btn{
    background-color: white;
    border: none;
}

.buton-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#submit-btn{
    background-color: var(--color03);
    border: 1px solid var(--color03);
   
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    transition: 0.3s;

    cursor: pointer;  
    
}

#submit-btn:hover{
    border: 1px solid var(--color00);
    background-color: var(--color00);
    color: white;
    
}

#js-pdf{
    border: 1px solid var(--color03);
    background-color: var(--color01);
    color: var(--color03);
    padding: 10px 50px;    
    border-radius: 10px;
    transition: 0.3s;

    cursor: pointer; 
}

#js-pdf:hover{
    background-color: gray;
    color: white;
    border: 1px solid gray;
}

.client-title{
    background-color: #D35E59;
    color: white;
    margin-top: 15px;
    padding: 6px 0 6px 15px;
}

/* .pedidos{
    font-weight: bold;
} */

.edit-btn,
.trash-btn{
    border: none;
    padding: 3px 25px;
    border-radius: 2px;
    color: var(--color00);
    font-size: 1.2em;
    cursor: pointer;
}

.edit-btn:hover,
.trash-btn:hover{
    background-color: #D35E59;
    color: white;
}